/* styles for hyperlinks with icons */
a.link-with-icon {
    text-decoration: none;
    color: #0074d9;
    background-image: url("../image/hyperlink.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 22px;
    margin-left: 2px;
}