body {
    font-family: Helvetica, sans-serif;
}

header h1 {
    font-size: 80px;
    color: #EDF2F4;
}
header h2 {
    font-size: 40px;
    color: #EDF2F4;
}
footer h1, footer h2 {
    font-size: 40px;
    color: #EDF2F4;
}

a {
    color: #EF233C;
    text-decoration: none;
}

header, footer {
    color: #8D99AE;
}

header, footer {
    background-color: #2B2D42;
    padding: 30px;
    margin-bottom: 10px;
}

.education {
    background-color: #8D99AE;
    padding: 30px;
    margin: 10px 0;
}