.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-gap: 5px;
}

.container .block{
    padding:20px;
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
}

.block.block1{
    grid-area: 1/1/2/4;
    background-color: purple;
}
.block.block2{
    grid-area: 2/1/4/2;
    background-color: darkslateblue;
}
.block.block3{
    grid-area: 2/2/3/3;
    background-color: cornflowerblue;
}
.block.block4{
    grid-area: 2/3/3/4;
    background-color: lightblue;
}
.block.block5{
    grid-area: 3/2/4/4;
    background-color: violet;
}
.block.block6{
    grid-area: 4/1/5/3;
    background-color: purple;
}
.block.block7{
    grid-area: 4/3/5/4;
    background-color: darkslateblue;
}
.block.block8{
    grid-area: 5/1/6/4;
    background-color: cornflowerblue;
}
