body {
    width: 954px;
    margin: 0 auto 0 auto;
    background-position: center;
    background-color: #eaeaea;

    font-family: Arial, Helvetica, sans-serif;
}

.top {
    height: 200px;
    background-image: url("../images/bgsky3.jpg");
    text-align: center;
    position: relative;
    color: darkblue;
    font-weight: bold;
}

.top p:first-child {
    margin: 0;
    font-size: 300%;
    font-style: italic;
}

.top p:nth-child(2) {
    font-size: 200%;
}

.top img {
    position: absolute;
    right: 90px;
    bottom: 60px;
}

.news {
    width: 250px;
    background-color: #dddddd;
    border: solid 1px #999999;
    float: right;
}

.news p {
    font-size: 90%;
    margin: 10px;
    color: #666666;
}

.news h3 {
    font-size: 120%;
    text-align: center;
    color: white;
    background-color: blue;
}

.main {
    width: 700px;
    float: left;
}

.logo {
    margin: 20px 20px 0 20px;
    float: left;
}

.introduction p {
    margin: 20px 30px 20px 0;
    overflow: hidden;
    text-align: justify;
}

.introduction p span {
    color: blue;
    font-weight: bold;
    font-style: italic;
}

.gallery {
    background-color: #999999;
    float: left;
    box-sizing: border-box;
    margin-right: 10px;
}

.gallery div {
    background-color: white;
    padding: 10px;
    border: 1px dashed #999999;
    margin: 20px 0 20px 20px;
    float: left;
}

.bottom {
    background-color: #666666;
    color: white;
    line-height: 2em;
    float: left;
    width: 100%;
    box-sizing: border-box;
}

.bottom div {
    margin-left: 120px;
    float: left;
}

.bottom a {
    color: white;
}

a:hover {
    color: red;
}

.copyright {
    text-align: center;
    clear: both;
    padding-top: 10px;
}